<div id="page-content" class="col-md-12">
    <div>NG ROUTING</div>
    <div id="page-content" class="leftMenu">
        <ul class="list-group">
            <li class="list-group-item"><a href="#/demo" >Demo page</a> </li>
            <li class="list-group-item"><a href="#/login" >Login page</a> </li>
            <li class="list-group-item"><a href="#/noRoute" >No route page</a> </li>
        </ul>
    </div>
    <div id="rightMenu" class="rightMenu">
        <div ng-view=""></div>
    </div>
</div>
<div>UI ROUTER</div>
<div id="page-content" class="col-md-12">
    <div id="page-content" class="leftMenu">
        <ul class="list-group">
            <li class="list-group-item"><a ui-sref=".container" >Demo page</a> </li>
            <li class="list-group-item"><a ui-sref=".login" >Login page</a> </li>
            <li class="list-group-item"><a ui-sref="demoParams({firstParam: 'Param 1', secondParam: 'Param 2'})" >Demo with params</a> </li>
        </ul>
    </div>
    <div id="rightMenu" class="rightMenu">
        <div ui-view></div>
    </div>
</div>