<div class='dropdown'> 
	<button class='btn btn-default dropdown-toggle' type='button' id='serviceOptions' data-toggle='dropdown' aria-expanded='true'> {{dataModel['name'] || ("PLEASE_SELECT" | translate)}} <span class='caret'></span> 
	</button>
	<ul class='dropdown-menu' role='menu' aria-labelledby='serviceOptions'> 
	  <li role='presentation' ng-repeat="elm in elements track by $index">
	    <a role='menuitem' tabindex='-1' href='' ng-click="applyElementSelection(elm)">{{elm}}</a>
	  </li>
	</ul> 
</div> 